<div class="courses" *ngIf='course'>
    <div class="course-card">
        <div class="course-title">
            {{courseIndex}} {{course.description}}
        </div>

        <ng-container *ngIf='isImageVisible() else noImage'>
            <img width="300" alt="Angular Logo" src={{course.iconUrl}}>
        </ng-container>
        <div class="course-description">
            {{course.longDescription}}
        </div>
        <button (click)='viewCourse()'>View Child</button>

    </div>

</div>

<ng-template #noImage>
    There is no image which is present.
</ng-template>
