<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!--Here, we are passing input /value , 'course' to our custom component -->
<!--Here, courseSelected event is emitted from child component, course-card to parent -->

<!-- Use ng-container as wrapping container, when content is dynamically generated
  and there is no parent element for dynamically generated content-->

<course-card #courseCardDemo [course]="courseList[0]" (courseSelected)=selectedCourse($event)> </course-card>

<ng-container *ngFor='let courseItem of courseList; index as i'>
    <course-card [course]="courseItem" (courseSelected)=selectedCourse($event) [courseIndex]='i+1'> </course-card>
</ng-container>
