<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!--Here, we are passing input /value , course to our custom component -->
<!--Here, courseSelected event is emitted from child component, course-card to parent -->
<course-card [course]="intermediateCourse" (courseSelected)=selectedCourse($event)> </course-card>
<course-card [course]="beginnersCourse" (courseSelected)=selectedCourse($event)> </course-card>
